h1 Positive Diary
p このアプリは普段の「ちょっぴり嫌な事」を「ちょっぴり良い事」に変えるアプリです。
p 心理学の研究では、
p その日に起きた出来事を振り返り日記のように書き、
p 物事をポジティブに上書きすることにより感情の整理や自己肯定感の向上などに効果があるとされています。
p まずはその日あった「不満なこと」、「嫌だったこと」を書くことからはじめていきましょう✨

= link_to '今すぐ無料で始める（新規登録）' , new_admin_user_path, class: 'btn btn-danger'

.mb-3
= link_to 'ログインはこちらから', login_path, class: 'nav-link' 'btn btn-primary'
